.bi-book-info-container {
  padding: 20px;
  max-width: 1200px;  
  margin: 0 auto;     
}

.bi-page-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 35px;
}

.bi-search-area {
  display: flex;
  gap: 10px;
  margin-bottom: 35px;
  justify-content: center;
}

.bi-search-area input {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.bi-search-area button {
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.bi-search-btn {
  background-color: #57433D;
  color: white;
}
.bi-reset-btn {
  background: #A98A6A;
  color: white;
}

.bi-search-btn:hover,
.bi-reset-btn:hover {
  opacity: 0.8;
}

.bi-result-text {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

.bi-no-result-text {
  font-size: 16px;
  color: #888;
  margin-top: 10px;
}

.bi-book-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개 */
  gap: 20px; /* 카드 간격 */
  padding: 10px;
  margin-bottom: 45px;
}

.bi-book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.bi-book-card:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.bi-book-image {
  width: 100px;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 8px;
}

.bi-book-info {
  text-align: center;
  width: 100%;
}

.bi-book-title {
  font-weight: bold;
  font-size: 0.9em;
  margin: 2px 0 4px 0;
}

.bi-book-author,
.bi-book-publisher {
  font-size: 0.8em;
  color: #666;
  margin: 0 0 4px 0;
}


/* 페이지네이션 */
.bi-pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 8px;
}

.bi-page-btn,
.bi-page-number {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #A98A6A;
  background: white;
  cursor: pointer;
  font-size: 14px;
  color: #6d4c41;
  transition: all 0.2s;
}

.bi-page-number.active {
  background: #57433D;
  color: white;
  border-color: #57433D;
}

.bi-page-btn:disabled {
  opacity: 0.4;
  cursor: default;
}

.bi-page-btn:hover,
.bi-page-number:hover {
    background: #A98A6A;
}