.library-section {
  margin-bottom: 30px;
  border-radius: 8px;
}

.mbl-tabs {
    margin-bottom: -1px; 
}

.mbl-tabs button {
  padding: 10px 15px;
  margin-right: 10px;
  border: 1px solid #e8ddd0;
  border-bottom: none;
  background-color: #f5f1eb;
  color: #8d6e63;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  transition: background-color 0.3s;
}

.mbl-tabs button.active {
  background-color: white; 
  color: #3e2723; 
  font-weight: 600;
  border-color: #e8ddd0;
  border-bottom: 1px solid white; 
}

.mbl-tab-content {
  border: 1px solid #e8ddd0;
  padding: 20px;
  min-height: 200px; 
  border-radius: 0 8px 8px 8px;
  background-color: white; 
}
.mbl-tab-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    justify-content: flex-end;
}

.mbl-tab-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color: #3e2723;
}

/* .edit-button {
    padding: 5px 10px;
    border: 1px solid #d4a574;
    background-color: #f5f1eb;
    color: #8d6e63;
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.9em;
} */

.mbl-book-list-container-tab {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  column-gap: 15px;
  row-gap: 35px;
  padding: 10px;

  max-height: 580px;       
  height: auto;            
  min-height: 250px; 
  overflow-y: auto;  
}


.mbl-book-card-link {
    flex: 0 0 150px; 
    text-decoration: none;
    color: inherit;
}

.mbl-book-list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mbl-book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #e8ddd0;
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.2s;
    height: 100%;
}

.mbl-book-card:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transform: translateY(-2px);
}

.mbl-book-cover {
    width: 100px; 
    height: 140px; 
    object-fit: cover;
    margin-bottom: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.mbl-book-info {
    width: 100%;
    text-align: center;
}

.mbl-book-title {
    font-weight: bold;
    font-size: 0.9em;
    margin: 2px 0;
    white-space: normal;
    color: #3e2723;
}

.mbl-book-author {
  font-size: 0.8em;
  color: #6d4c41;
  margin: 0 0 5px 0;
}

.mbl-progress-bar-container {
  width: 100%;
  background-color: #f5f1eb;
  border-radius: 2px;
  height: 5px;
  margin-bottom: 5px;
}

.mbl-progress-bar {
  height: 100%;
  background-color: #57433D;
  border-radius: 2px;
}

.mbl-progress-text {
  font-size: 0.8em;
  color: #6d4c41;
  font-weight: bold;
  margin: 0;
}

